<% content_for :title, t('.title', page: current_page) %>

<nav class="options">
  <ul>
    <li><%= link_to t(:create), new_dream_path %></li>
  </ul>
</nav>

<article>
  <h1><%= t('.header') %></h1>

  <h2><%= t(:page, page: current_page) %></h2>

  <% if @dreams.any? %>
      <%= paginate @dreams %>
      <ul>
        <% @dreams.each do |dream| %>
        <li><%= link_to dream.name, dream %></li>
        <% end %>
      </ul>
      <%= paginate @dreams %>
  <% else %>
      <%= render 'common/nothing_found' %>
  <% end %>
</article>