<%= form_for @word do |f| %>
    <%= render partial: 'common/errors_list', locals: { entity: @word } %>

    <fieldset>
      <legend><%= t('.indicators') %></legend>

      <div>
        <%= f.check_box :qualitative %>
        <%= f.label :qualitative %>
      </div>
      <div>
        <%= f.check_box :possessive %>
        <%= f.label :possessive %>
      </div>
      <div>
        <%= f.check_box :participle %>
        <%= f.label :participle %>
      </div>
    </fieldset>

    <fieldset>
      <legend><%= t('.masculine') %></legend>

      <div>
        <%= f.label :nominative_masculine %>
        <%= f.text_field :nominative_masculine %><button type="button" id="adjective-magic">&#x2606;</button>
      </div>
      <div>
        <%= f.label :genitive_masculine %>
        <%= f.text_field :genitive_masculine %>
      </div>
      <div>
        <%= f.label :dative_masculine %>
        <%= f.text_field :dative_masculine %>
      </div>
      <div>
        <%= f.label :instrumental_masculine %>
        <%= f.text_field :instrumental_masculine %>
      </div>
      <div>
        <%= f.label :prepositional_masculine %>
        <%= f.text_field :prepositional_masculine %>
      </div>
    </fieldset>

    <fieldset>
      <legend><%= t('.feminine') %></legend>

      <div>
        <%= f.label :nominative_feminine %>
        <%= f.text_field :nominative_feminine %>
      </div>
      <div>
        <%= f.label :genitive_feminine %>
        <%= f.text_field :genitive_feminine %>
      </div>
      <div>
        <%= f.label :dative_feminine %>
        <%= f.text_field :dative_feminine %>
      </div>
      <div>
        <%= f.label :instrumental_feminine %>
        <%= f.text_field :instrumental_feminine %>
      </div>
      <div>
        <%= f.label :prepositional_feminine %>
        <%= f.text_field :prepositional_feminine %>
      </div>
    </fieldset>

    <fieldset>
      <legend><%= t('.neuter') %></legend>

      <div>
        <%= f.label :nominative_neuter %>
        <%= f.text_field :nominative_neuter %>
      </div>
      <div>
        <%= f.label :genitive_neuter %>
        <%= f.text_field :genitive_neuter %>
      </div>
      <div>
        <%= f.label :dative_neuter %>
        <%= f.text_field :dative_neuter %>
      </div>
      <div>
        <%= f.label :instrumental_neuter %>
        <%= f.text_field :instrumental_neuter %>
      </div>
      <div>
        <%= f.label :prepositional_neuter %>
        <%= f.text_field :prepositional_neuter %>
      </div>
    </fieldset>

    <fieldset>
      <legend><%= t('.plural') %></legend>

      <div>
        <%= f.label :nominative_plural %>
        <%= f.text_field :nominative_plural %>
      </div>
      <div>
        <%= f.label :genitive_plural %>
        <%= f.text_field :genitive_plural %>
      </div>
      <div>
        <%= f.label :dative_plural %>
        <%= f.text_field :dative_plural %>
      </div>
      <div>
        <%= f.label :instrumental_plural %>
        <%= f.text_field :instrumental_plural %>
      </div>
      <div>
        <%= f.label :prepositional_plural %>
        <%= f.text_field :prepositional_plural %>
      </div>
    </fieldset>

    <fieldset>
      <legend><%= t('.degrees') %></legend>

      <div>
        <%= f.label :comparative %>
        <%= f.text_field :comparative %>
      </div>
      <div>
        <%= f.label :superlative %>
        <%= f.text_field :superlative %>
      </div>
      <div>
        <%= f.label :partial %>
        <%= f.text_field :partial %>
      </div>
    </fieldset>

    <div>
      <%= f.button t('submit'), type: :submit %>
    </div>
<% end %>