<% content_for :title, t('.title') %>
<% content_for :description, t('.description') %>

<header>
  <h1><%= t('.header') %></h1>
</header>

<article class="login">
  <%= form_tag do %>
      <fieldset>
        <legend><%= t('.enter_credentials') %></legend>
        <div>
          <%= label_tag :login, t('.login') %>
          <%= text_field_tag :login, params[:login], required: true %>
        </div>
        <div>
          <%= label_tag :password, t('.password') %>
          <%= password_field_tag :password, params[:password], required: true %>
        </div>
        <div>
          <%= button_tag t('.enter'), type: :submit %>
        </div>
      </fieldset>
  <% end %>
</article>
