<% content_for :title, t('.title', query: @query) %>
<% content_for :footer do %>
    <div class="metrics"><%= render 'common/metrics' if Rails.env.production? %></div>
    <div class="sharing"><%= render 'common/sharing' if Rails.env.production? %></div>
<% end %>

<article>
  <h1><%= link_to t('.header'), dreambook_path %></h1>
  <h2><%= @query %></h2>

  <div><%= simple_format Speech.new(Digest::MD5.hexdigest(@query).to_i(16)).passage %></div>
</article>