<%= form_for @verb do |f| %>
    <%= render partial: 'common/errors_list', locals: { entity: @verb } %>

    <fieldset>
      <legend><%= t('.main_forms') %></legend>

      <div>
        <%= f.label :infinitive %>
        <%= f.text_field :infinitive, required: true %><button type="button" id="perfect-verb-magic">&#x2606;</button>
      </div>
      <div>
        <%= f.label :imperative %>
        <%= f.text_field :imperative %>
      </div>
      <div>
        <%= f.label :gerund %>
        <%= f.text_field :gerund %>
      </div>
      <div>
        <%= f.label :valency %>
        <%= f.number_field :valency, min: 0, max: 3 %>
      </div>
    </fieldset>

    <fieldset>
      <legend><%= t('.voices') %></legend>

      <div>
        <%= f.check_box :has_reflexive %>
        <%= f.label :has_reflexive %>
      </div>
      <div>
        <%= f.check_box :has_reciprocal %>
        <%= f.label :has_reciprocal %>
      </div>
      <div>
        <%= f.check_box :has_neuter %>
        <%= f.label :has_neuter %>
      </div>
    </fieldset>

    <fieldset>
      <legend><%= t('.passive_forms') %></legend>

      <div>
        <%= f.label :passive_masculine %>
        <%= f.text_field :passive_masculine %>
      </div>
      <div>
        <%= f.label :passive_feminine %>
        <%= f.text_field :passive_feminine %>
      </div>
      <div>
        <%= f.label :passive_neuter %>
        <%= f.text_field :passive_neuter %>
      </div>
      <div>
        <%= f.label :passive_plural %>
        <%= f.text_field :passive_plural %>
      </div>
    </fieldset>

    <fieldset>
      <legend><%= t('.past_forms') %></legend>

      <div>
        <%= f.label :past_masculine %>
        <%= f.text_field :past_masculine %>
      </div>
      <div>
        <%= f.label :past_feminine %>
        <%= f.text_field :past_feminine %>
      </div>
      <div>
        <%= f.label :past_neuter %>
        <%= f.text_field :past_neuter %>
      </div>
      <div>
        <%= f.label :past_plural %>
        <%= f.text_field :past_plural %>
      </div>
    </fieldset>

    <fieldset>
      <legend><%= t('.future_forms') %></legend>

      <div>
        <%= f.label :future_first %>
        <%= f.text_field :future_first %>
      </div>
      <div>
        <%= f.label :future_second %>
        <%= f.text_field :future_second %>
      </div>
      <div>
        <%= f.label :future_third %>
        <%= f.text_field :future_third %>
      </div>
      <div>
        <%= f.label :future_first_plural %>
        <%= f.text_field :future_first_plural %>
      </div>
      <div>
        <%= f.label :future_second_plural %>
        <%= f.text_field :future_second_plural %>
      </div>
      <div>
        <%= f.label :future_third_plural %>
        <%= f.text_field :future_third_plural %>
      </div>
    </fieldset>

    <div>
      <%= f.button t('submit'), type: :submit %>
    </div>
<% end %>