<% content_for :title, t('.title', page: params[:page] || 1) %>
<% content_for :description, t('.description', page: params[:page] || 1) %>

<article>
  <header>
    <h1><%= t('.header') %></h1>
    <h2><%= t('page', page: params[:page] || 1) %></h2>
    <% if current_user %>
        <nav>
          <ul>
            <li><%= link_to t('create'), new_perfect_verb_path %></li>
            <li><%= link_to t('nouns.index.header'), nouns_path %></li>
            <li><%= link_to t('verbs.index.header'), verbs_path %></li>
            <li><%= link_to t('adjectives.index.header'), adjectives_path %></li>
          </ul>
        </nav>
    <% end %>
  </header>

  <% if @verbs.any? %>
      <%= paginate @verbs %>
      <ol start="<%= ((params[:page] || 1).to_i - 1) * 20 + 1 %>">
        <% @verbs.each do |verb| %>
            <li><%= link_to verb.infinitive, verb %></li>
        <% end %>
      </ol>
      <%= paginate @verbs %>
  <% else %>

  <% end %>
</article>
