<fieldset class="lexeme-wordforms">
  <legend><%= t('admin.lexemes.form.wordforms') %></legend>

  <%
    qualitative_flags = Biovision::Components::Words::AdjectiveHandler.comparative_form_flags
    gender_flags = Biovision::Components::Words::AdjectiveHandler.gender_flags
    number_flags = Biovision::Components::Words::AdjectiveHandler.number_flags
    short_form_flags = Biovision::Components::Words::AdjectiveHandler.adjective_form_flags
    case_flags = Biovision::Components::Words::AdjectiveHandler.case_flags
    skip_cases = %i[case_partitive case_locative]
    cols = gender_flags.merge(number_flags).reject { |k, _| k == :number_singular }
    rows = case_flags.reject { |k, _| skip_cases.include? k }.merge(short_form_flags)
  %>
  <table>
    <thead>
    <tr>
      <th></th>
      <% cols.keys.each do |key| %>
        <th data-col="<%= key %>" scope="col">
          <%= t("wordform.flags.#{key}") %>
        </th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% rows.each do |case_key, case_flag| %>
      <tr data-row="<%= case_key %>">
        <th scope="row"><%= t("wordform.flags.#{case_key}") %></th>
        <% cols.each do |col_key, col_flag| %>
          <%
            flag = case_flag | col_flag
            flag |= number_flags[:number_singular] unless col_key == :number_plural
          %>
          <td data-col="<%= col_key %>">
            <%=
              text_field_tag(
                  "wordforms[#{flag}]",
                  handler.wordform(flag),
                  class: 'input-text',
                  placeholder: flag,
                  title: flag
              )
            %>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>

  <dl class="fields" data-list="qualitative">
    <% qualitative_flags.each do |key, flag| %>
      <div>
        <dt><%= t("wordform.flags.#{key}") %></dt>
        <dd>
          <%=
            text_field_tag(
                "wordforms[#{flag}]",
                handler.wordform(flag),
                class: 'input-text',
                placeholder: flag,
                title: flag
            )
          %>
        </dd>
      </div>
    <% end %>
  </dl>
</fieldset>
