<% content_for :meta_title, t('.title', body: @entity.body) %>
<% content_for :breadcrumbs do %>
  <%= admin_biovision_component_link(component_handler.component) %>
  <%= link_to(t('admin.words.nav_item.text'), admin_words_path) %>
  <span><%= @entity.body %></span>
<% end %>

<article>
  <h1><%= @entity.body %></h1>

  <nav>
    <%=
      link_to(
          t('lexemes.edit.nav_text'),
          edit_word_path(id: @entity.id),
          class: 'button-nav'
      )
    %>
  </nav>

  <dl class="fields">
    <div>
      <dt><%= @entity.class.human_attribute_name :body %></dt>
      <dd><%= @entity.body %></dd>
    </div>

    <%= render partial: 'shared/entity/timestamps', locals: { entity: @entity } %>
  </dl>

  <section>
    <h2><%= t(:wordform_count, count: @entity.wordforms_count) %></h2>

    <%=
      render(
          partial: 'shared/admin/list',
          locals: { collection: @entity.wordforms.list_for_administration }
      )
    %>
  </section>
</article>
