<% type_slug = entity.lexeme_type&.slug%>
<%= form_with(Biovision::Components::BaseComponent.form_options(entity)) do |f| %>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

  <%= render partial: 'admin/lexemes/form/lexeme_attributes', locals: { f: f } %>

  <% if lookup_context.exists?("admin/lexemes/form/_#{type_slug}") %>
    <%= render(partial: "admin/lexemes/form/#{type_slug}", locals: { f: f }) %>
  <% else %>
    <div class="message-box warning"><%= t('.no_form') %></div>
  <% end %>

  <div class="buttons">
    <%= f.hidden_field :lexeme_type_id if entity.id.nil? %>
    <%= f.button t(:save), class: 'button button-save', name: nil %>
  </div>
<% end %>
