<% content_for :meta_title, t('.title', name: @entity.body) %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('admin.lexeme_types.nav_item.text'), admin_lexeme_types_path) %>
  <%= admin_lexeme_type_link(@entity.lexeme_type) %>
  <span><%= @entity.body %></span>
<% end %>

<article>
  <h1><%= @entity.body %></h1>

  <ul class="actions">
    <li><%= back_icon(admin_lexemes_path) %></li>
    <li><%= return_icon(admin_lexeme_type_path(id: @entity.lexeme_type.slug)) %></li>
    <li><%= create_icon(new_lexeme_admin_lexeme_type_path(id: @entity.lexeme_type.slug)) %></li>
  </ul>

  <% template_name = "admin/lexemes/show/#{@entity.lexeme_type.slug}" %>
  <% if lookup_context.exists?(@entity.lexeme_type.slug, ["/admin/lexemes/show"], true) %>
    <%= render partial: template_name, locals: { entity: @entity } %>
  <% else %>
    <div class="message-box-alert"><%= t('.no_partial') %></div>
  <% end %>
</article>
