<% content_for :meta_title, t('.title', infinitive: @entity.body) %>
<% content_for :breadcrumbs do %>
  <%= admin_biovision_component_link(component_handler.component) %>
  <%= link_to(t('admin.lexeme_types.nav_item.text'), admin_lexeme_types_path) %>
  <%= admin_entity_link(@entity.lexeme_type) %>
  <span><%= @entity.body %></span>
<% end %>

<article>
  <h1><%= @entity.body %></h1>

  <nav class="entity-actions">
    <%= edit_icon(@entity) %>
    <%= destroy_icon(@entity) %>
  </nav>

  <dl class="fields">
    <div>
      <dt><%= t('activerecord.attributes.lexeme.body') %></dt>
      <dd><%= @entity.body %></dd>
    </div>

    <% unless @entity.context.blank? %>
      <div>
        <dt><%= t('activerecord.attributes.lexeme.context') %></dt>
        <dd><%= @entity.context %></dd>
      </div>
    <% end %>

    <div>
      <dt><%= t('activerecord.attributes.lexeme.lexeme_type') %></dt>
      <dd><%= admin_entity_link(@entity.lexeme_type) %></dd>
    </div>
  </dl>

  <% type_slug = @entity.lexeme_type.slug %>
  <% if lookup_context.exists?("admin/lexemes/entity/_#{type_slug}") %>
    <%=
      render(
          partial: "admin/lexemes/entity/#{type_slug}",
          locals: { entity: @entity }
      )
    %>
  <% else %>
    <div class="message-box warning"><%= t('.no_section') %></div>
  <% end %>

  <%=
    render(
        partial: 'admin/lexemes/entity/wordforms',
        locals: { collection: @entity.wordforms.ordered_by_flags }
    )
  %>
</article>
