<% content_for :meta_title, t('.title', page: current_page) %>
<% content_for :breadcrumbs do %>
  <%= admin_biovision_component_link(component_handler.component) %>
  <span><%= t('admin.sentence_patterns.nav_item.text') %></span>
<% end %>

<article>
  <h1><%= t('.heading') %></h1>

  <nav>
    <%=
      link_to(
          t('sentence_patterns.new.nav_text'),
          new_sentence_pattern_path,
          class: 'button-nav'
      )
    %>
  </nav>

  <%=
    render(
        partial: 'shared/admin/list',
        locals: { collection: @collection }
    )
  %>
</article>
