<% content_for :meta_title, t('.title', id: @entity.id) %>
<% content_for :breadcrumbs do %>
  <%= admin_biovision_component_link(component_handler.component) %>
  <%= link_to(t('admin.sentence_patterns.nav_item.text'), admin_sentence_patterns_path) %>
  <span><%= @entity.id %></span>
<% end %>

<article>
  <h1><%= @entity.id %></h1>

  <nav>
    <%= link_to(t('shared.entity.edit.nav_text'), edit_sentence_pattern_path(id: @entity.id)) %>
  </nav>

  <dl class="fields">
    <%=
      render(
          partial: 'shared/entity/text_fields',
          locals: {
              entity: @entity,
              list: %w[pattern sample weight]
          }
      )
    %>
  </dl>

  <aside class="js-sample-loader">
    <div>
      <%=
        button_tag(
            t('.load_sample'),
            class: 'button button-primary',
            data: { url: sample_admin_sentence_pattern_path(id: @entity.id) },
            type: :button
        )
      %>
    </div>
    <p class="text"></p>
  </aside>
</article>
