<% content_for :meta_title, t('.title', id: @entity.id) %>
<% content_for :breadcrumbs do %>
  <%= admin_biovision_component_link(component_handler.component) %>
  <%= link_to(t('admin.sentence_patterns.nav_item.text'), admin_sentence_patterns_path) %>
  <span><%= @entity.id %></span>
<% end %>

<article>
  <h1><%= @entity.id %></h1>

  <dl>
    <%=
      render(
          partial: 'shared/entity/text_fields',
          locals: {
              entity: @entity,
              list: %w[pattern sample weight]
          }
      )
    %>
  </dl>
</article>
