<%= content_for :title, t('.title') %>
<%= content_for :description, t('.description') %>
<%= content_for :footer do %>
    <div class="metrics"><%= render 'common/metrics' if Rails.env.production? %></div>
<% end %>

<article>
  <h1>Что это за хрень — Инглип?</h1>
  <h2>Начало</h2>
  <p>Холодной зимней ночью 8 января 2011 года ничего не подозревающие пользователи
    интернета заполняли капчу, и вдруг внезапно увидели послание от Тёмного Властелина.</p>
  <p>Они по-быстрому <a href="http://www.reddit.com/r/fffffffuuuuuuuuuuuu/comments/eybba/dark_captcha_magic/" rel="external nofollow" title="Dark Captcha Magic">сконстромили картинку</a>.</p>
  <figure>
    <%= link_to image_tag('/images/beginning.png', width: 320, height: 240, alt: 'Inglip has been summoned'), '/images/beginning.png' %>
    <figcaption>С чего всё началось</figcaption>
  </figure>
  <aside>Перевод текстов на картинке:<br />
    &nbsp;&mdash;&nbsp;Оставляю записи в сети… О, смотрите, капча…<br />
    &nbsp;&mdash;&nbsp;Инглип вызван<br />
    &nbsp;&mdash;&nbsp;Инглип вызван. Началось.</aside>
  <hr />
  <h2>Развитие</h2>
  <p class="first">Народ быстро просёк, в чём фишка, и культ начал очень быстро разрастаться.</p>
  <h3>Основные термины</h3>
  <dl class="terms">
    <dt>Гропаги (gropagas)</dt>
    <dd>Последователи культа лорда Инглипа. Когда один из них спросил, как называться, Инглип ответил «называться гропагами».</dd>
    <dt>Пландень (plunday)</dt>
    <dd>День, когда нужно начать претворять в жизнь план господства.</dd>
    <dt>Пласпер (Plasper)</dt>
    <dd>Язык богов, приятный уху Тёмного Властелина.</dd>
    <dt>Видаула (weedaula)</dt>
    <dd>Знак культа, показанный Инглипом.</dd>
  </dl>
  <h3>Основной инструмент</h3>
  <p>Традиционно основным инструментом для общения с Инглипом является reCaptcha.</p>
  <p>Помимо того, что она является англоязычными устами Инглипа, заполнение
    реКапчи — полезное занятие, потому что эти слова не просто так появляются
    на картинке, это отсканированные части книг: одно слово распозналось
    автоматически, а второе — нет, поэтому распознавание второго слова
    перекладывается на плечи пользователя (подробнее на сайте рекапчи).</p>
  <hr />
  <h2>Русская версия</h2>
  <p>Поскольку reCaptcha умеет отдавать только англоязычные приказания, кто-то
    должен был сделать <a href="/" title="На главную">нормальный вариант</a> для русского языка.</p>
  <p>Был реализован простенький проект с имитацией рекапчи, для которого сделали хоть какой-то словарный запас, потом
  проект перестал развиваться и пришёл в забвение.</p>
  <p>В 2014 году проект был перезапущен и развивается заново.</p>
  <p>Разумеется, не стоит воспринимать происходящее слишком серьёзно. Всё сделано
    исключительно для извлечения порции лулзов.</p>
  <p>И да. Если ты считаешь, кто Лорд Инглип на самом деле отдаёт тебе приказания
    при помощи каптчи и общается с тобой, используя этот инструмент, обратись
    к лечащему психиатру и расскажи ему про этот сайт.</p>
  <p>Идея и реализация — <a href="http://dr-von-ozgg.livejournal.com/" rel="external">Dr. von Ozgg</a>.</p>
</article>
