<% content_for :title, t('.title', page: current_page) %>

<%= render 'words/sections' %>

<nav class="options">
  <ul>
    <li><%= link_to t(:create), new_noun_path %></li>
  </ul>
</nav>

<article>
  <h1><%= t('.header') %></h1>

  <h2><%= t('page', page: current_page) %></h2>

  <%= render 'words/list' %>
</article>
