<% content_for :title, t('.title', page: params[:page] || 1) %>
<% content_for :description, t('.description', page: params[:page] || 1) %>

<article>
  <header>
    <h1><%= t('.header') %></h1>
    <h2><%= t('page', page: params[:page] || 1) %></h2>
    <% if current_user %>
    <nav>
      <ul>
        <li><%= link_to t('create'), new_noun_path %></li>
        <li><%= link_to t('verbs.index.header'), verbs_path %></li>
      </ul>
    </nav>
    <% end %>
  </header>

  <% if @nouns.any? %>
      <%= paginate @nouns %>
      <ol start="<%= ((params[:page] || 1) - 1) * 20 + 1 %>">
        <% @nouns.each do |noun| %>
        <li><%= link_to noun.nominative, noun %></li>
        <% end %>
      </ol>
      <%= paginate @nouns %>
  <% else %>

  <% end %>
</article>
