<% content_for :title, t('.title', word: @word.canonical_form) %>
<% content_for :description, t('.description', word: @word.canonical_form) %>

<article class="word">
  <header>
    <h1><%= t('.header') %></h1>

    <h2><%= @word.nominative %></h2>
    <nav>
      <ul>
        <li><%= link_to t('to_list'), nouns_path %></li>
        <% if current_user %>
            <li><%= link_to t('edit'), edit_noun_path(@word) %></li>
            <li><%= link_to t('create'), new_noun_path %></li>
        <% end %>
      </ul>
    </nav>
  </header>

  <p>
    <%= (t('activerecord.attributes.noun.animated') + ', ') if @word.animated? %>
    <%= t("activerecord.attributes.noun.grammatical_genders.#{@word.grammatical_gender}") %>
    <%= t('activerecord.attributes.noun.grammatical_gender') %>,
    <%= t("activerecord.attributes.noun.grammatical_numbers.#{@word.grammatical_number}") %>
    <%= t('activerecord.attributes.noun.grammatical_number') %>.
  </p>
  <% if current_user %>
      <table>
        <caption><%= t('nouns.form.declension') %></caption>
        <thead>
        <tr>
          <th><%= t('nouns.form.case') %></th>
          <th><%= t('nouns.form.declension') %></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th><%= t('activerecord.attributes.noun.nominative') %></th>
          <td><%= @word.nominative %><%= " (#{@word.plural_nominative})" unless @word.plural_nominative.blank? %></td>
        </tr>
        <tr>
          <th><%= t('activerecord.attributes.noun.genitive') %></th>
          <td><%= @word.genitive %><%= " (#{@word.plural_genitive})" unless @word.plural_genitive.blank? %></td>
        </tr>
        <tr>
          <th><%= t('activerecord.attributes.noun.partitive') %></th>
          <td><%= @word.partitive %><%= " (#{@word.plural_partitive})" unless @word.plural_partitive.blank? %></td>
        </tr>
        <tr>
          <th><%= t('activerecord.attributes.noun.dative') %></th>
          <td><%= @word.dative %><%= " (#{@word.plural_dative})" unless @word.plural_dative.blank? %></td>
        </tr>
        <tr>
          <th><%= t('activerecord.attributes.noun.accusative') %></th>
          <td><%= @word.accusative %><%= " (#{@word.plural_accusative})" unless @word.plural_accusative.blank? %></td>
        </tr>
        <tr>
          <th><%= t('activerecord.attributes.noun.instrumental') %></th>
          <td><%= @word.instrumental %><%= " (#{@word.plural_instrumental})" unless @word.plural_instrumental.blank? %></td>
        </tr>
        <tr>
          <th><%= t('activerecord.attributes.noun.prepositional') %></th>
          <td><%= @word.prepositional %><%= " (#{@word.plural_prepositional})" unless @word.plural_prepositional.blank? %></td>
        </tr>
        <tr>
          <th><%= t('activerecord.attributes.noun.locative') %></th>
          <td><%= @word.locative %><%= " (#{@word.plural_locative})" unless @word.plural_locative.blank? %></td>
        </tr>
        </tbody>
      </table>
  <% end %>
</article>