<% content_for :meta_Title, t('.title') %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('admin.lexemes.nav_item.text'), admin_lexemes_path) %>
  <%= admin_lexeme_link(@entity) %>
  <span><%= t('.nav_text') %></span>
<% end %>

<article>
  <h1><%= t('.heading') %></h1>

  <ul class="actions">
    <li><%= return_icon(admin_lexeme_path(id: @entity.id)) %></li>
    <li class="danger"><%= destroy_icon(@entity) %></li>
  </ul>

  <%=
    render(
        partial: 'form',
        locals: {
            lexeme_type: @entity.lexeme_type,
            entity: @entity
        }
    )
  %>
</article>
