<div class="data">
  <div><%= admin_word_link(entity) %></div>
  <div class="secondary info">
    <div><%= t(:created_at) %>: <%= time_tag(entity.created_at) %></div>
    <div><%= t(:updated_at) %>: <%= time_tag(entity.updated_at) %></div>
  </div>
</div>
