<%= form_with(Biovision::Components::BaseComponent.form_options(entity)) do |f| %>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

  <dl class="fields">
    <div>
      <dt><%= f.label :body %></dt>
      <dd>
        <%=
          f.text_area(
              :body,
              class: 'input-text',
              data: { check: :body },
              required: true,
              rows: 25
          )
        %>
      </dd>
      <div class="check-result-error" data-field="checksum"></div>
      <div class="check-result-error" data-field="body"></div>
    </div>
  </dl>

  <%= render 'shared/forms/state_container' %>

  <div class="buttons">
    <%= hidden_field_tag :entity_id, entity.id %>
    <%= f.hidden_field :corpus_id if entity.id.nil? %>
    <%= f.button t(:save), class: 'button button-save' %>
  </div>
<% end %>
