<% content_for :meta_title, t('.title', name: @entity.name) %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('admin.lexeme_types.nav_item.text'), admin_lexeme_types_path) %>
  <%= admin_lexeme_type_link(@entity) %>
  <span><%= t('.nav_text') %></span>
<% end %>

<article>
  <h1><%= t('.heading') %></h1>
  <h2><%= @entity.name %></h2>

  <ul class="actions">
    <li><%= return_icon(admin_lexeme_type_path(id: @entity.slug)) %></li>
  </ul>

  <%= render partial: 'lexemes/form', locals: { lexeme_type: @entity, entity: nil } %>
</article>
