<% content_for :meta_title, t('.title', name: @entity.name, page: current_page) %>
<% content_for :breadcrumbs do %>
  <%= admin_biovision_component_link(component_handler.component) %>
  <%= link_to(t('admin.lexeme_types.nav_item.text'), admin_lexeme_types_path) %>
  <span><%= @entity.name %></span>
<% end %>

<article>
  <h1><%= @entity.name %></h1>

  <nav class="entity-actions">
    <%= create_icon(new_lexeme_admin_lexeme_type_path(id: @entity.slug)) %>
  </nav>

  <%=
    render(
        partial: 'admin/lexeme_types/entity/lexemes',
        locals: {
            entity: @entity,
            collection: @collection
        }
    )
  %>
</article>
