<nav>
  <ul>
    <li><%= link_to t('create'), path %></li>
    <li><%= link_to t('nouns.index.header'), nouns_path %></li>
    <li><%= link_to t('verbs.index.header'), verbs_path %></li>
    <li><%= link_to t('perfect_verbs.index.header'), perfect_verbs_path %></li>
    <li><%= link_to t('adjectives.index.header'), adjectives_path %></li>
  </ul>
</nav>
