<% content_for :meta_title, t('.title', page: current_page) %>
<% content_for :breadcrumbs do %>
  <%= admin_biovision_component_link(component_handler.component) %>
  <span><%= t('admin.corpora.nav_item.text') %></span>
<% end %>

<article>
  <h1><%= t('.heading') %></h1>

  <nav class="entity-actions">
    <%= create_icon(new_admin_corpus_path) %>
  </nav>

  <%=
    render(
        partial: 'shared/admin/list',
        locals: { collection: @collection }
    )
  %>
</article>
