<%= form_for @post do |f| %>
    <%= render partial: 'common/errors_list', locals: { entity: @post } %>

    <div>
      <%= f.label :title %><br />
      <%= f.text_field :title, size: 80, required: true %>
    </div>

    <div>
      <%= f.label :body %><br />
      <%= f.text_area :body, cols: 80, rows: 20, required: true %>
    </div>

    <div>
      <%= f.button t('submit'), type: :submit %>
    </div>
<% end %>