<%
  handler = LexemeHandler::Noun.new(entity)
  entity.flags = LexemeHandler::Noun.default_lexeme_flags if entity.id.nil?
  model_name = entity.class.to_s.underscore
%>
<%=
  form_with(
      model: entity,
      html:  {
          id:           "#{model_name}-form",
          autocomplete: 'off'
      }
  ) do |f|
%>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

  <fieldset>
    <legend><%= t('lexemes.form.lexeme') %></legend>
    <div class="field">
      <div>
        <%= f.label :body %>
      </div>
      <div>
        <%=
          f.text_field(
              :body,
              id:        "#{model_name}_body",
              size:      nil,
              maxlength: Lexeme::BODY_LIMIT,
              required:  true
          )
        %>
        <div class="guideline"><%= t('lexemes.form.guidelines.body') %></div>
      </div>
    </div>
    <div class="field">
      <div>
        <%= f.label :context %>
      </div>
      <div>
        <%=
          f.text_field(
              :context,
              id:        "#{model_name}_context",
              size:      nil,
              maxlength: Lexeme::CONTEXT_LIMIT
          )
        %>
        <div class="guideline"><%= t('lexemes.form.guidelines.context') %></div>
      </div>
    </div>
    <div class="flag">
      <%= f.check_box :declinable, id: "#{model_name}_declinable" %>
      <%= f.label :declinable %>
    </div>
    <ul class="flags">
      <% LexemeHandler::Noun.lexeme_flags.each do |flag, value| %>
        <li>
          <% entity_id = "lexeme_flag_#{flag}" %>
          <%= check_box_tag("lexeme_flags[#{flag}]", value, handler.flag?(flag), id: entity_id) %>
          <%= label_tag(entity_id, t("lexeme_flags.noun.#{flag}")) %>
        </li>
      <% end %>
    </ul>
  </fieldset>

  <fieldset>
    <legend><%= t('lexemes.form.wordforms') %></legend>

    <div class="auto-inflect">
      <button type="button" class="button-action">✨</button>
    </div>

    <%
      groups = %i[number_singular number_plural]
      cases = %i[case_nominative case_genitive case_dative case_accusative case_instrumental case_prepositional case_partitive case_locative]
    %>
    <div class="wordforms">
      <% groups.each do |group_flag_name| %>
        <div class="group">
          <div class="header"><%= t("wordform_flags.#{group_flag_name}") %></div>
          <ul>
            <% cases.each do |case_flag_name| %>
              <li class="<%= case_flag_name %>">
                <%
                  element_id = "wordform-#{group_flag_name}-#{case_flag_name}"
                  flag_value = LexemeHandler.wordform_flag(group_flag_name, case_flag_name)
                %>
                <%= label_tag(element_id, t("wordform_flags.#{case_flag_name}")) %>
                <%=
                  text_field_tag(
                      "wordforms[#{flag_value}]",
                      handler.wordform(flag_value),
                      id: element_id
                  )
                %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </fieldset>

  <div class="buttons">
    <%= f.hidden_field :lexeme_type_id if entity.id.nil? %>
    <%= f.button t(:save), type: :submit, class: 'button-save' %>
  </div>
<% end %>
