<%= form_for @word do |f| %>
    <%= render partial: 'common/errors_list', locals: { entity: @word } %>

    <div>
      <%= f.label :family %>
      <%= f.select :family, Adverb.families.keys.to_a.map { |e| [t("activerecord.attributes.adverb.families.#{e}"), e] } %>
    </div>
    <div>
      <%= f.check_box :is_comparative %>
      <%= f.label :is_comparative %>
    </div>
    <div>
      <%= f.label :body %>
      <%= f.text_field :body, required: true %>
    </div>
    <div>
      <%= f.label :comparative_degree %>
      <%= f.text_field :comparative_degree %>
    </div>

    <div>
      <%= f.button t(:submit), type: :submit %>
    </div>
<% end %>