<% content_for :title, t('.title', page: current_page) %>

<%= render 'words/sections' %>

<nav class="options">
  <ul>
    <li><%= link_to t(:create), new_adverb_path %></li>
  </ul>
</nav>

<article>
  <h1><%= t('.header') %></h1>

  <h2><%= t(:page, page: current_page) %></h2>

  <% if @adverbs.any? %>
      <%= paginate @adverbs %>
      <ul>
        <% @adverbs.each do |adverb| %>
        <li><%= link_to adverb.body, adverb %></li>
        <% end %>
      </ul>
      <%= paginate @adverbs %>
  <% else %>
      <%= render 'common/nothing_found' %>
  <% end %>
</article>