<% content_for :title, t('.title', word: @word.canonical_form) %>

<nav class="options">
  <ul>
    <li><%= link_to t(:list), adverbs_path %></li>
    <li><%= link_to t(:edit), edit_adverb_path(@word) %></li>
    <li><%= link_to t(:create), new_adverb_path %></li>
  </ul>
</nav>

<article>
  <h1><%= @word.body %></h1>

  <p><%= t("activerecord.attributes.adverb.families.#{@word.family}") %></p>
  <% if @word.is_comparative? %>
  <p><%= t('activerecord.attributes.adverb.is_comparative') %> (<%= @word.comparative_degree %>)</p>
  <% end %>
</article>