<%
  entity = handler.lexeme
  type = entity.lexeme_type.slug
%>
<section>
  <h2><%= t('admin.lexemes.show.lexeme_parameters') %></h2>

  <dl>
    <% unless entity.context.blank? %>
      <dt><%= t('activerecord.attributes.lexeme.context') %></dt>
      <dd><%= entity.context %></dd>
    <% end %>

    <dt><%= t(:flags) %></dt>
    <dd>
      <ul class="lexeme-flags">
        <% if entity.declinable? %>
          <li><%= t('activerecord.attributes.lexeme.declinable') %></li>
        <% end %>
        <% handler.class.lexeme_flags.keys.each do |flag| %>
          <% if handler.flag?(flag) %>
            <li>
              <%= t("lexeme_flags.#{type}.#{flag}") %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </dd>
  </dl>
</section>
