<% if collection.any? %>
  <section class="lexeme-wordforms-raw">
    <h2><%= t('.heading') %></h2>

    <table>
      <thead>
      <tr>
        <th><%= t('activerecord.attributes.wordform.flags') %></th>
        <th><%= t('.form') %></th>
      </tr>
      </thead>
      <tbody>
      <% collection.each do |entity| %>
      <tr>
        <td><%= entity.flags.to_s(2).rjust(32, '0') %></td>
        <td><%= admin_entity_link(entity) %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </section>
<% end %>
