<%= form_for @verb do |f| %>
    <%= render partial: 'common/errors_list', locals: { entity: @verb } %>

    <fieldset>
      <legend><%= t('.main_forms') %></legend>

      <div>
        <%= f.label :infinitive %>
        <%= f.text_field :infinitive, required: true %>
      </div>
      <div>
        <%= f.label :imperative %>
        <%= f.text_field :imperative %>
      </div>
      <div>
        <%= f.label :gerund %>
        <%= f.text_field :gerund %>
      </div>
      <div>
        <%= f.label :gerund_past %>
        <%= f.text_field :gerund_past %>
      </div>
      <div>
        <%= f.label :valency %>
        <%= f.number_field :valency, min: 0, max: 3 %>
      </div>
    </fieldset>

    <fieldset>
      <legend><%= t('.voices') %></legend>

      <div>
        <%= f.check_box :has_reflexive %>
        <%= f.label :has_reflexive %>
      </div>
      <div>
        <%= f.check_box :has_reciprocal %>
        <%= f.label :has_reciprocal %>
      </div>
      <div>
        <%= f.check_box :has_neuter %>
        <%= f.label :has_neuter %>
      </div>
    </fieldset>

    <fieldset>
      <legend><%= t('.present_forms') %></legend>

      <div>
        <%= f.label :present_first %>
        <%= f.text_field :present_first %>
      </div>
      <div>
        <%= f.label :present_second %>
        <%= f.text_field :present_second %>
      </div>
      <div>
        <%= f.label :present_third %>
        <%= f.text_field :present_third %>
      </div>
      <div>
        <%= f.label :present_first_plural %>
        <%= f.text_field :present_first_plural %>
      </div>
      <div>
        <%= f.label :present_second_plural %>
        <%= f.text_field :present_second_plural %>
      </div>
      <div>
        <%= f.label :present_third_plural %>
        <%= f.text_field :present_third_plural %>
      </div>
    </fieldset>

    <fieldset>
      <legend><%= t('.past_forms') %></legend>

      <div>
        <%= f.label :past_masculine %>
        <%= f.text_field :past_masculine %>
      </div>
      <div>
        <%= f.label :past_feminine %>
        <%= f.text_field :past_feminine %>
      </div>
      <div>
        <%= f.label :past_neuter %>
        <%= f.text_field :past_neuter %>
      </div>
      <div>
        <%= f.label :past_plural %>
        <%= f.text_field :past_plural %>
      </div>
    </fieldset>

    <div>
      <%= f.button t('submit'), type: :submit %>
    </div>
<% end %>