<% content_for :meta_title, t('.title', name: @entity.name, page: current_page) %>

<article class="entity-page">
  <h1><%= @entity.name %></h1>

  <ul class="actions">
    <li><%= return_icon(admin_lexeme_groups_path) %></li>
  </ul>

  <nav>
    <ul>
      <li><%= link_to(t(:lexeme_count, count: @entity.lexemes_count), lexemes_admin_lexeme_group_path(@entity.id)) %></li>
    </ul>
  </nav>

  <section>
    <h2><%= t('.new_lexeme') %></h2>

    <% template_name = "admin/lexemes/forms/#{@entity.slug}" %>
    <% if lookup_context.find_all("admin/lexemes/forms/_#{@entity.slug}").any? %>
        <%= render partial: template_name %>
    <% else %>
        <%= render 'admin/lexemes/forms/fallback' %>
    <% end %>
  </section>
</article>
