<div class="data">
  <div><%= admin_entity_link(entity) %></div>
  <div class="info"><%= entity.pattern %></div>
  <% unless entity.sample.blank? %>
    <div class="secondary info"><%= entity.sample %></div>
  <% end %>

  <div class="entity-actions">
    <%= edit_icon(entity) %>
    <%= destroy_icon(entity) %>
  </div>
</div>
