<section
  class="js-analyze-patterns sentence_patterns-analyze"
  data-url="<%= analyze_admin_sentence_patterns_path %>"
>
  <h2><%= t('.heading') %></h2>

  <div class="text-container fields">
    <div>
      <%=
        text_area_tag(:text, '', class: 'input-text', rows: 10)
      %>
    </div>
    <div>
      <button type="button" class="button button-primary">
        <%= t('.analyze') %>
      </button>
    </div>
  </div>
  <ul class="results" data-url="<%= admin_sentence_patterns_path %>"></ul>
</section>
