<% model_name = entity.class.to_s.underscore %>
<%=
  form_with(
      model: entity,
      html: {
          id: "#{model_name}-form",
          data: { check_url: check_sentence_patterns_path }
      }
  ) do |f|
%>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

  <%= render 'components/words/wordform_flag_hints' %>

  <dl class="fields">
    <div>
      <dt><%= entity.class.human_attribute_name(:pattern) %></dt>
      <dd>
        <%=
          f.text_field(
              :pattern,
              class: 'input-text js-use-flag-hint',
              data: { check: :pattern },
              required: true,
              size: nil
          )
        %>
      </dd>
    </div>
    <%= render partial: 'shared/forms/text_field', locals: { f: f, field: :sample } %>
  </dl>

  <%= render 'shared/forms/state_container' %>

  <div class="buttons">
    <%= hidden_field_tag :entity_id, entity.id %>
    <%= f.button t(:save), class: 'button-save' %>
  </div>
<% end %>
