<% content_for :meta_title, t('.title') %>
<% content_for :breadcrumbs do %>
  <%= admin_biovision_component_link(component_handler.component) %>
  <%= link_to(t('admin.sentence_patterns.index.nav_text'), admin_sentence_patterns_path) %>
  <span><%= t('.nav_text') %></span>
<% end %>

<article>
  <h1><%= t('.heading') %></h1>

  <%= render 'sentence_patterns/analyze' %>

  <section>
    <h2><%= t('.manual') %></h2>

    <%= render partial: 'form', locals: { entity: @entity } %>
  </section>
</article>
