<% model_name = entity.class.to_s.underscore %>
<%=
  form_with(
      model: entity,
      html: {
          id: "#{model_name}-form",
          data: { check_url: check_corpora_path }
      }
  ) do |f|
%>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

  <dl class="fields">
    <%= render partial: 'shared/forms/text_field', locals: { f: f, field: :name } %>
  </dl>

  <%= render 'shared/forms/state_container' %>

  <div class="buttons">
    <%= hidden_field_tag :entity_id, entity.id %>
    <%= f.button t(:save), class: 'button-save' %>
  </div>
<% end %>
