<!DOCTYPE html>
<html lang="<%= locale %>">
<head>
  <title>inglip.ru: <%= yield :meta_title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
</head>

<body>
<%= render 'layouts/application/header' %>
<main id="main">
  <%= yield %>
</main>
<%= render 'layouts/application/footer' %>
</body>
</html>
