<!DOCTYPE html>
<html lang="<%= locale %>">
<head>
  <meta charset="UTF-8"/>
  <title><%= yield :meta_title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="format-detection" content="telephone=no"/>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application", defer: true %>
</head>

<body>
<%= yield %>
</body>
</html>
